{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nepscribe</title>
    <link rel="stylesheet" href="{% static 'transcribe/style.css' %}" />
  </head>
  <body>
    <div class="fmic">
      <input
        type="image"
        src="{% static 'transcribe/mic.svg' %}"
        alt="microphone logo"
        width="100px"
        height="100px"
      />
      <div class="animate">
        <p class="listening">listening</p>
        <div class="loading">
          <div class="snippet" style="margin-left: 30px">
            <div class="stage">
              <div class="dot-flashing"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
