.nav-container {
  box-shadow: 0px 4px 4px rgba(148, 141, 141, 0.25);
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.navbar-brand {
  padding-left: 43%;
  font-family: Varela Round;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #4dd3f2;
}

.body-container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.speech-text {
  height: 500px;
  width: 700px;
  /* border-radius: 10px; */
  border: 3px solid #000000;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}

/* .speech-text {
  word-break: break-all;
  font-size: 20px;
  color: black;
} */

.btn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0px 4px 30px rgba(119, 112, 119, 0.25);
  background-color: #4dd3f2;
}

.container button {
  margin-bottom: 50px;
  margin-left: 50px;
}

.fa {
  color: white;
}

.recording {
  color: white;
}

.animate {
  margin-top: 150px;
  margin-left: -85px;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cc2d2d;
  color: #cc2d2d;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cc2d2d;
  color: #cc2d2d;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cc2d2d;
  color: #cc2d2d;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #cc2d2d;
  }
  50%,
  100% {
    background-color: #ffe6e6;
  }
}
.fmic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  justify-content: center;
}
.loading {
  margin-top: 10px;
  justify-content: center;
}
.listening {
  text-align: center;
  margin: 5px;
  font-style: italic;
  color: #cc2d2d;
}
/* Makes scrollbar hidden */
/* ::-webkit-scrollbar {
  width: 2px;
} */
